doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title VSTSを知ろう

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css')

  body

    article.deck

      section
        h2 VisualStudioTeamServices<br>(VSTS)を知ろう
        h4 2018/6/30

      section
        h2 自己紹介
        ul.build.build-items
          li 寺原　歩
          li <a href="https://www.is-tech.co.jp/"><image src="images/ist_logo.png" /></a><br/>の技術戦略推進部<br/><br/>
          li <h3>最近こんなアイコン使ってます<br /><image src="images/27805556.png" height="150" width="150"/></h3>

      section
        h1 Whats VSTS?

      section
        h3 ソース管理はBitBuck〇t風
        ul.build.build-items
          li <h3>CI/CDはJenk〇ns風</h3>
          li <h3>タスク管理はJ〇RA</h3>
          li <h3>大体そんな感じの</h3><h2>DevOpsクラウドサービス</h2>

      section
        h2 課金体系
        h3 プライベートチーム5名まで無料（B〇tBucket風）
        h3 以降、メンバー増加やCI/CD Pipeline数などサービス単位に課金可能

      section
        h2 ソース管理
        h4 <image src="images/2-vstscodesrc1.png" hight="500" width="500"/>
        h4 ごく普通のGitホスティングサービス

      section
        h2 CI
        h4 <image src="images/VSTSAndroidEmptySigning.png" hight="500" width="500"/>
        h4 対応言語：C#、java、node.jsなどたくさん
        h4 build定義：テンプレート各種。コマンドベースも可
        h4 AgentServer：無償でクラウドサービス提供
        h6 ※ただし、無償でのAgent実行時間は月間240分まで。

      section
        h2 CD
        h4 <image src="images/visual-studio-team-services-CICD-2x_2.png" hight="500" width="500"/>
        h4 各種環境へのデプロイは当然のことながら
        h4 デプロイ時の承認フロー：Slackなどと連携可能

      section
        h2 タスク管理
        h4 <image src="images/visual-studio-team-services-agile-2x.png" hight="500" width="500"/>
        h4 さながらJIR〇のようにagile iteration / scrum sprint / チケット管理等をお手軽に

      section
        h1 最大の特徴！

      section
        h2 Azureとの親和性
        h4 <image src="images/vsts-choose-source.png" hight="400" width="400"/>
        h4 特にAppServiceのdeployCenterと組み合わせることで
        h4 ものの３クリックで前述のCI/CD環境が自動構築できる
        h6 VSTSアカウントをAzureADと連携する必要有

      section
        h2 何はともあれ
        h2 使ってみようVSTS<br/><br/>
        h3 <a href="https://visualstudio.microsoft.com/ja/team-services/"><image src="images/VSTS.png" hight="50" width="50"/></a>
        h3 <i class="far fa-hand-point-up faa-bounce animated"></i> click me

      section
        h2 おしまい

    script(src='build/build.js')
